body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#closeButton {
    padding: 10px 20px;
    background-color: #f44336; /* 빨간색 버튼 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeButton:hover {
    background-color: #e53935; /* 버튼 호버 시 색상 */
}